@import "tailwindcss";
@plugin "daisyui";


.gradient-bg {
  /* height: 100vh; */
  background: linear-gradient(to bottom right, #632EE3, #9F62F2);
}
.gradient-text {
  background: linear-gradient(to bottom right, #632EE3, #9F62F2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}